[submodule "meta-aml-cfg"]
	path = meta-aml-cfg
	url = git@github.com:Demogorgon314/meta-aml-cfg.git
[submodule "meta-meson"]
	path = meta-meson
	url = git@github.com:Demogorgon314/meta-meson.git
[submodule "aml-comp/kernel/aml-5.15"]
	path = aml-comp/kernel/aml-5.15
	url = git@github.com:Demogorgon314/aml-5.15.git
[submodule "one-kvm"]
	path = one-kvm
	url = git@github.com:Demogorgon314/One-KVM-StreamBox.git
	branch = sync-upstream-main
